.popup {

  &--content {
    min-width: 233px;
    font-size: 16px;
    padding: 10px;

    &__heading {

    }

    &__form {
      .option {
        white-space: nowrap;
      }
    }

    &__actions {
      margin-top: 1rem;
    }
  }
}
